<div class="container">
  <h1>Decode this Sentence</h1>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1> $results </h1>

  <form action='/winner' method='get'>
    <div class="form-group">
      <label>Answer</label>
      <input id="answer" name="answer" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-info">ENTER</button>
  </form>
</div>
